<div class="container">
  <div class="card-trip show">
    <img src="<%= @cocktail.photo %>" />
    <h3 class="card-trip-infos"><%= @cocktail.name %></h3>
    <%= link_to "Create a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-info mb-2" %>
    <br>
    <% @cocktail.doses.each do |dose| %>
      <div class="row list-group-item d-flex justify-content-between ">
        <p>Ingredient: <%= dose.ingredient.name %></p>
        <p>Dose description: <%= dose.description %></p>
        <%= link_to cocktail_dose_path(@cocktail, dose), method: 'delete', class: 'card-link text-danger', data: {confirm: "Are you sure?"}  do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
      </div>
        <% end %>
  </div>
</div>
